<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yellow Beep Beep</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/floating-labels.css') }}">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    {% if current_user.is_authenticated %}
    <div class="container-fluid">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <h2>Beep Beep</h2>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/create_objective">Create Objective</a></li>
            <li><a href="/objectives">List Objectives</a></li>
            <li><a href="/create_challenge">Create Challenge</a></li>
            <li><a href="/challenge">Challenges</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/settingreport">Setting Report</a></li>
            {% if current_user.is_admin %}
            <li><a href="/users"><span class="glyphicon glyphicon-user"></span>Users list</a></li>
            {% endif %}
            <li><a href="/delete_user"><span class="glyphicon glyphicon-user"></span>Delete User</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
    <div class="container">
        <h1 class="titlepage">Hi {{ current_user.firstname }}</h1>
        {% if not current_user.authorized_strava %}
        <p><a class="btn btn-primary" href="{{strava_auth_url}}">Authorize Strava Access</a></p>
        {% else %}
        <h3>Your last 10 runs</h3><br>
        <table>
            <tr>
                <td class="key">Average speed: </td>
                <td class="value"><span id="total_average_speed">{{total_average_speed}}</span></td>
            </tr>
        </table>
        <br> {% for run in runs %}
        <p class="listrun"><a class="list" href="/run/{{run.id}}">{{run.name}}</a></p>
        {% endfor %}
    </div>
    {% endif %} {% else %}
    <form class="form-app">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Beep Beep</h1>
            <h4>Hi Anonymous!</h4>
        </div>
        <br>
        <a class="btn btn-lg btn-primary btn-block" href="/login">Log in</a>
        <a class="btn btn-lg btn-primary btn-block" href="/create_user">Sign up</a>
    </form>
    <br> {% endif %}
</body>

</html>
